anyio==4.4.0
click==8.1.7
colorama==0.4.5
dependency-injector==4.39.1
fastapi==0.116.1
h11==0.13.0
idna==3.3
lagom==1.7.1
pydantic==1.10.17
python-multipart==0.0.5
requests==2.32.3
six==1.16.0
sniffio==1.2.0
starlette==0.47.1
typing_extensions==4.12.2
uvicorn[standard]==0.35.0


