anyio==4.4.0
click==8.1.7
colorama==0.4.5
dependency-injector==4.48.3
fastapi==0.135.1
h11==0.13.0
idna==3.3
lagom==1.7.1
pydantic==2.11.7
python-multipart==0.0.5
requests==2.32.5
six==1.16.0
sniffio==1.2.0
starlette==1.0.0
typing_extensions==4.14.1
uvicorn[standard]==0.42.0


